$primary-dark: #008080;
$primary: #40E0D0;
$primary-light: #AFEEEE;

$mint-dark: #4682B4;
$mint: #87CEEB;
$mint-light: #B0E0E6;

$text-dark: #2C3E50;
$text-soft: #5D6D7E;
$text-light: #AAB7B8;

$background: #F8F9F9;
$white: #FFFFFF;

$error: #f08579;