$primary-dark: #1e3a8a;
$primary: #2563eb;
$primary-light: #dbeafe;

$secondary-dark: #5b21b6;
$secondary: #7c3aed;
$secondary-light: #ede9fe;

$text-dark: #0f172a;
$text-soft: #334155;
$text-light: #94a3b8;

$background: #f8faff;
$white: #ffffff;

$error: #f43f5e;
$warning: #f59e0b;
$success: #22c55e;
$info: #38bdf8;

$red: #e11d48;
$green: #16a34a;
$blue: #2563eb;
